@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --primary-color: #0a691ede;
  /* Green From St Veronica Picture */

  --secondary-color: #f8f9fa;
}

body {
  background-color: var(--secondary-color);
}

.navbar {
  background-color: var(--primary-color);
}